@charset "utf-8";
/* ===================================================================
CSS information

 file name  :blog_detail.css
 author     :RUBY DESIGN.
style info  :設定　ハックは最下部に記述
=================================================================== */
#blog_detail #area_blog_detail{
 width:740px;
 margin: 0 auto 6rem;
 font-family: 'Didact Gothic', sans-serif; 
}
#blog_detail #area_blog_detail h2{
    padding: 6rem 0 1rem;
}
#blog_detail #area_blog_detail h3{
    font-size: 2.5rem;
    padding: 6rem 0 2rem;
}
#blog_detail .category-works h3{
    font-size: 2rem !important;
}
#blog_detail #area_blog_detail .line_ttl{
    font-size: 2.3rem;
    font-weight: bold;
    border-bottom: 1px dotted #ccc;
    padding: 2rem 0 2rem;
    margin: 0 0 3rem;
    text-align: center;
    color: #000;
    border-top: 1px dotted #ccc; 
}
#blog_detail .category-works .quads-ad1,
#blog_detail .category-works .quads-ad2,
#blog_detail .category-works .quads-ad3,
#blog_detail .category-works .wp_social_bookmarking_light{
    display: none;
}
#blog_detail #area_blog_detail .time{
	color: #868686;
}
#blog_detail #area_blog_detail .box_blog_cnt{
	padding-top: 2rem;
}
#blog_detail #area_blog_detail .box_blog_cnt p a{
    color: #2196F3;
    text-decoration: underline;
    font-style: italic;
}
#blog_detail #area_blog_detail .box_blog_cnt img{
    width: 100%;
    display: block;
    height: auto;
    margin: 2rem auto;
}
#blog_detail #area_blog_detail .box_blog_cnt .sb-icon img{
    margin: 0; 
}
#blog_detail #area_blog_detail .box_blog_cnt .img_sizem img{
    width: 40%;
}
#blog_detail #area_blog_detail .box_blog_cnt .amzn_img img{
    width: 50%;
}
#blog_detail .box_blog_cnt .btn_web{
    width: 100%;
    display: block;
}
#blog_detail .btn_all a,
#blog_detail .box_blog_cnt .btn_web a{
    border: 1px solid #454545;
    font-size: 1.5rem;
    line-height: 6rem;
    height: 60px;
    width: 100%;
    text-align: center;
    display: inline-block;
    border-radius: 6px;
    background: #454545;
    color: #fff !important;
    position: relative;
    text-decoration: none !important;
    font-style: normal !important;
}
#blog_detail .btn_all a:hover,
#blog_detail .box_blog_cnt .btn_web a:hover{
    background: #ffff;
    color: #454545;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;    
}
#blog_detail .btn_all a:after,
#blog_detail .box_blog_cnt .btn_web a:after{
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 0 1px 0 1px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    position: absolute;
    top: 60%;
    right: 10px;
    -webkit-transform: translate(-50%, -110%) rotate(-45deg);
    transform: translate(-50%, -110%) rotate(-45deg);
}
#blog_detail .btn_all:hover a:after,
#blog_detail .box_blog_cnt .btn_web:hover a:after{
    border-right: 2px solid #454545;
    border-bottom: 2px solid #454545;    
}
/*----------------------------------------------------
.box_blog_cnt
----------------------------------------------------*/
#blog_detail .box_blog_cnt h3{
    padding: 0 0 2rem !important;
}

#blog_detail .box_blog_cnt h4 {
    font-size: 1.8rem;
    padding: 1rem 0 1rem 1rem!important;
    border-left: 7px solid #000;
    margin: 0 0 20px;
    background: #f7f7f7;
}
#blog_detail #area_blog_detail .box_amazon .amazonjs_item .amazonjs_image {
    width: 40% !important;
}
#blog_detail #area_blog_detail .box_amazon h4{
    background: none;
    border: none;
    letter-spacing: 0;
    padding: 0 !important;
    margin: 0 0 10px;
}
#blog_detail .box_blog_cnt p {
    padding: 0 0 2rem;
    letter-spacing: 0;
    font-size: 1.8rem;
    line-height: 2;
}
#blog_detail .box_blog_cnt .list{
    margin: 2rem 0;
    line-height: 2.3;
    font-weight: bold;
    background: #f1f1f1;
    padding: 3rem;
    font-size: 1.7rem;
}
/*----------------------------------------------------
    #table
----------------------------------------------------*/ 
#blog_detail table{
    width: 100%;
    font-size: 1.4rem;
    margin: 4rem 0;
}
#blog_detail table th{
    width: 20%;
    font-weight: bold;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    white-space: nowrap;
    vertical-align: top;
    padding: 22px 0 18px;
    text-align: left;
}
#blog_detail table td{
    width: 80%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    vertical-align: top;
    box-sizing: border-box;
    padding: 22px 0 18px;
    padding-left: 20px;
}
#blog_detail h4{

}

/*----------------------------------------------------
    .box_section
----------------------------------------------------*/ 
#blog_detail #sc04 .box_section{
    padding: 5rem 2rem;
    border-bottom: 1px dotted #ccc;
   
}
#blog_detail #sc04 h4{
    padding: 0 0 2rem;
    font-size: 1.8rem;   
}
#blog_detail #sc04 .box_section .txt_section p{
    font-size: 1.5rem;
}
#blog_detail #sc04 .box_section .img_section {
    width: 50%;
    box-sizing: border-box;
    padding: 0 0 0 5.4%;
}
#blog_detail #sc04 .box_section:last-child {
    border: none;
}
#blog_detail #faq_area h2{
    font-size: 2.5rem;
    padding: 7rem 0;
}
#blog_detail #faq_area p {
    margin: 0 3rem;
    padding: 1rem 0 0;
}
/*===============================================
画面の横幅が740pxまで（スマホ用）
===============================================*/
@media screen and (max-width: 740px) {
#blog_detail #area_blog_detail{
    width: 100%;
    margin: 0 auto 6rem;
    padding: 0 6%;
    box-sizing: border-box;
}
#blog_detail #area_blog_detail h2{
    padding: 2rem 0 1rem;
}
#blog_detail #area_blog_detail h3,
#blog_detail .category-works h3{
    font-size: 1.8rem !important;
    padding: 6rem 0 2rem;
}
#blog_detail #area_blog_detail .box_amazon .amazonjs_item .amazonjs_image {
    width: 100% !important;
}
#blog_detail #area_blog_detail .box_amazon .amazonjs_item .amazonjs_info {
    width: 100% !important;
    text-align: center;
    margin: 0 !important;
}
#blog_detail #area_blog_detail .line_ttl{
    font-size: 1.8rem;
    padding: 1.2rem 0;
    margin: 0 0 2.5rem; 
}
#blog_detail #area_blog_detail .box_blog_cnt{
    padding-top: 2rem;
}
#blog_detail .box_blog_cnt .list{
    margin: 2rem 0;
    padding: 2rem;
    font-size: 1.5rem;
}
/*----------------------------------------------------
.box_blog_cnt
----------------------------------------------------*/
#blog_detail .box_blog_cnt p {
    font-size: 1.4rem;
}
}
/*===============================================
画面の横幅が320pxまで（スマホ用）
===============================================*/
@media screen and (max-width: 320px) {
}
}

/*======================================

	hack - 各種cssハック - for IE7

=======================================*/
*:first-child+html {}


/*======================================

	hack - 各種cssハック - for IE6

=======================================*/
* html {}

