@charset "utf-8";
/* ===================================================================
CSS information

 file name  :contact.css
 author     :RUBY DESIGN.
style info  :設定　ハックは最下部に記述
=================================================================== */
* {  
  -moz-user-select: none;  
  -webkit-user-select: none;  
  -ms-user-select: none;  
  user-select: none;
    -webkit-appearance: normal;
}  
#contact #contact_area,
#thanks #thanks_area,
#thanks #andmore_area{
 width:740px;
 margin: 0 auto 100px;
 font-family: 'Didact Gothic', sans-serif; 
}
#contact #header,
#contact #footer{
    display: none;
}
#contact #contact_area .c-form-input-text {
    width: 100%;
    font-size: 1.6rem;
    padding: 12px 10px 10px 10px;
    margin: 0 0 20px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    line-height: 1.2;
}
#contact #contact_area .form_box{
    margin: 50px 0;
}
#contact #contact_area .form_area{
    padding-bottom: 5rem;
}
#contact #contact_area .c-form-select-box{
    font-size: 100%;
     position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    padding: 12px 10px 8px 10px;
    margin: 0 0 20px 0;
    border: 1px solid #ccc;
    border-radius: 0;
}
#contact #contact_area .contact_label{
    display: block!important;
    line-height: 1.4!important;
    font-size: 1.8rem;
    font-weight: bold;
    vertical-align: middle!important;
    margin: 0 0 15px!important;
    padding-top: 0!important;
    width: auto!important;
}
#contact #contact_area .hissu{
    background: #c70007 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-size: 0.6875rem;
    padding: 1px 5px;
    vertical-align: middle;
    float: none!important;
    margin-left: 5px;
}
#contact #contact_area .c-form-text-area{
    width: 100%;
    font-size: 1.6rem;
    box-sizing: border-box;
    padding: 12px 10px 8px;
    margin: 0px 0px 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-image: initial;
}
.cv_btn{
    width: 340px;
    margin: 0 auto;
}
.wpcf7 input[type="submit"],
input.wpcf7-submit{
    width: 100%;
    font-size: 1.8rem;
    border-radius: 4px !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    display: block !important;
    color: #fff;
    background-color: #454545 !important;
    background: #454545 !important;
    text-align: center;
    border: none;
    height: 6rem;
    line-height: 6rem;
    -webkit-appearance: button;
}
.cv_btn .soushinbtn:hover{
    opacity: 0.7;
    cursor: pointer;
}
#contact .c_privacy{
    text-decoration: underline;
    text-align: center;
}
#contact .c_privacy:hover{
    opacity: 0.7;
}
#contact .txt_privacy{
    text-align: center;
}
#contact .wpcf7-list-item {
    margin: 0 1rem 0 0;
}
/*----------------------------------------------------
#error masseage
----------------------------------------------------*/  
#contact .wpcf7-not-valid-tip {
    color: #f00;
    font-size: 1.3rem !important;
}
#contact .wpcf7-validation-errors,
#contact.wpcf7-acceptance-missing {
    border: none !important;
    text-align: center;
    color: #ff0002;
    background: #fdeeee;
    font-size: 1.7rem;
    padding: 1rem 0 !important;
}
#contact .wpcf7-mail-sent-ok,
#contact .wpcf7-response-output{
    display: none !important;
}
/*----------------------------------------------------
#thanks_area
----------------------------------------------------*/	
#thanks #thanks_area h3{
    font-size: 2.5rem;
    padding-bottom: 3rem;
}
#thanks #thanks_area .txt_thanks{
    padding-bottom: 4rem;
}
#thanks #thanks_area .txt_thanks span{
    display: block;
}
/*----------------------------------------------------
  #andmore_area
----------------------------------------------------*/ 
#thanks #andmore_area{
    border-top: 1px dotted #ccc;
}
#thanks #andmore_area h4{
    font-family: 'Didact Gothic', sans-serif;
    font-size: 2.3rem;
    padding: 6rem 0 2rem;
}
#thanks #andmore_area .wrap_menu{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 5rem 0 0;
}
#thanks #andmore_area .wrap_menu .box_menu{
    margin-right: 20px;
    width: 230px;
}
#thanks #andmore_area .wrap_menu .box_menu a:hover,
#thanks #andmore_area .wrap_menu .box_menu a img:hover{
    text-decoration: underline;
    opacity: 0.7;
}
#thanks #andmore_area .wrap_menu .box_menu:last-child{
    margin-right: 0;
}
#thanks #andmore_area .wrap_menu .box_menu .img_menu{
    margin: 0 0 1.5rem;
}
#thanks #andmore_area .wrap_menu .box_menu .ttl_menu{
    text-align: center;
    font-weight: bold;
}

/*----------------------------------------------------
    #policy_area
----------------------------------------------------*/ 
/*===============================================
画面の横幅が960pxまで（スマホ用）
===============================================*/
@media screen and (max-width: 960px) {
#contact .ftr_fixbtn{
    display: none !important;
}
}
/*===============================================
画面の横幅が640pxまで（スマホ用）
===============================================*/
@media screen and (max-width: 740px) {
#contact #contact_area,
#thanks #thanks_area,
#thanks #andmore_area{
 width:100%;
 margin: 0 auto 6rem;
 padding: 0 6%;
 box-sizing:border-box; 
}
#contact #contact_area .c-form-input-text {
    font-size: 1.4rem;
    line-height: 1.2;
}
#contact #contact_area .form_box{
    margin: 4rem 0;
}
#contact #contact_area .form_area{
    padding-bottom: 3rem;
}
#contact #contact_area .contact_label{
    font-size: 1.5rem;
    font-weight: bold;
    vertical-align: middle !important;
    margin: 0 0 1rem !important;
    padding-top: 0 !important;
    width: auto !important;
}
#contact #contact_area .c-form-text-area{
    font-size: 1.4rem;
}
.cv_btn{
    width: 100%;
}
.cv_btn .soushinbtn{
    font-size: 1.5rem;
}
}
/*===============================================
画面の横幅が320pxまで（スマホ用）
===============================================*/
@media screen and (max-width: 320px) {
}
}

/*======================================

	hack - 各種cssハック - for IE7

=======================================*/
*:first-child+html {}


/*======================================

	hack - 各種cssハック - for IE6

=======================================*/
* html {}

