@charset "utf-8";
/* ===================================================================
CSS information

 file name  :privacy.css
 author     :RUBY DESIGN.
style info  :設定　ハックは最下部に記述
=================================================================== */
#privacy #pirvacy_area{
 width:740px;
 margin: 0 auto 100px;
 font-family: 'Didact Gothic', sans-serif; 
}
#privacy #pirvacy_area h3{
    font-size: 2rem;
    font-weight: bold;
    margin: 5rem 0 1rem;
    padding-bottom: 10px;
    border-bottom: 1px solid #e9e9e9;  
}
#privacy #pirvacy_area ul{
	padding-top: 2rem;
}
#privacy #pirvacy_area .txt_privacy{
     padding: 10px 0;
     text-align: justify;
}
/*===============================================
画面の横幅が800pxまで（スマホ用）
===============================================*/
@media screen and (max-width: 800px) {
#privacy #pirvacy_area{
     width:100%;
     padding: 0 6%;
     box-sizing:border-box;
     margin: 0 auto 8rem;
}
#privacy #pirvacy_area h3{
    font-size: 1.8rem;
    margin: 3rem 0 1rem;
    padding-bottom: 1rem;
}
#privacy #pirvacy_area ul{
    padding-top: 1.5rem;
}
#privacy #pirvacy_area .txt_privacy{
     padding: 0.5rem 0;
}
}
/*===============================================
画面の横幅が320pxまで（スマホ用）
===============================================*/
@media screen and (max-width: 320px) {
}

/*======================================

	hack - 各種cssハック - for IE7

=======================================*/
*:first-child+html {}


/*======================================

	hack - 各種cssハック - for IE6

=======================================*/
* html {}

