@charset "utf-8";
/* ===================================================================
CSS information
file name : base.scss
style info : リセット及びbody初期設定 (このスタイルシートは基本的に変更しない)
=================================================================== */
html {
	font-size: 62.5%;
	-moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0 !important;
	body{
	  // font-weight: 500;
    font-size: 16px;
    overflow: hidden;
	  line-height: 1.7;
	  word-wrap: break-word;
	  word-break: break-all;
	  font-family: -apple-system, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", Verdana, "メイリオ", Meiryo, sans-serif;
    font-feature-settings: "pkna" 1;
    padding-top: 100px;
    @include tab{
      padding-top: 60px;
    }
		}
  }
  .home{
    padding-top: 0;
  }
  :focus{
    outline: none;
  }
  a{
    &:hover{
      opacity: 0.5;
    }
  }
/*----------------------------------------------------
    flex設定
----------------------------------------------------*/ 
.flex{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: center;
  }
  .middle{
    align-items: center;	
  }
  .flex_center{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
  }
  .flex_all{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    box-sizing: border-box;
    display: flex; /* 子要素をflexboxで揃える */
    flex-direction: column; /* 子要素をflexboxにより縦方向に揃える */
    justify-content: center; /* 子要素をflexboxにより中央に配置する */
    align-items: center;  /* 子要素をflexboxにより中央に配置する */	
  }
  .primaryColor{
    color: #222;
  }
  .primaryBackGroundColor{
    background: #222;
    color: #fff;
  }
  .secondaryBackGroundColor{
    background: #222222;
    color: #fff;
  }
  .caption_type01{
    color: #d4005b;
  }
  .caption_type02{
    color: #1700cc;
  }
  .caption_type03{
    color: #ec8f00;
  }
  .caption_type04{
    color: #ea0000;
  }
  .sub_button{
      box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.1);
        border-radius: 100px;
        height: 40px;
        line-height: 40px;
        display: inline-block;
  }
 