@charset "utf-8";
/* ===================================================================
CSS information
file name : footer.scss
style info : リセット及びbody初期設定 (このスタイルシートは基本的に変更しない)
=================================================================== */
footer{
	max-width: 1240px;
	margin: 4rem auto 0;
	padding: 0 4%;
	.sitemap{
		padding: 2rem 0;
		nav{
			@include tab{
			width: 100%;
				ul{
					justify-content: center;
				}
			}
			@include sp{
				margin-bottom: 30px;
			}
		}
		.snsArea{
			margin-left: auto;
			@include tab{
				margin: 0 auto 30px;
			}
		}
		.copyright{
			font-size: 1.2rem;
			margin-left: 20px;
			opacity: 0.5;
			@include tab{
				width: 100%;
				margin: 0;
				text-align: center;
			}
		}
		li{
			margin-left: 20px;
			font-size: 1.4rem;
			&:first-child{
				margin: 0;
			}
		}
	}
}