@charset "utf-8";
/* ===================================================================
CSS information
file name : home.scss
style info : リセット及びbody初期設定 (このスタイルシートは基本的に変更しない)
=================================================================== */
#home{
	.contents_Inner{
		max-width: 100%;
	}
}
.content-title{
	text-align: center;
	.en{
		font-size: 4rem;
		line-height: 1;
		display: block;
		@include tab{
			font-size: 3.2rem;
			display: block;
			width: 100%;
		}
	}
	.jp{
		font-size: 1.8rem;
		margin-top: .5em;
		color: var(--c-secondary);
		line-height: 1;
		display: block;
		@include tab{
			padding: 0.5em 0 0;
			font-size: 1.6rem;
		}
	}
}

/*----------------------------------------------------
   .top-service
----------------------------------------------------*/
.top-service{
	h3{
		text-align: center;
		font-size: 4rem;
		margin-top: 1em;
		@include tab{
			font-size: 2.4rem;
		}
	}

	&__content{
		max-width: 1040px;
		margin: 2em auto 0;
		background-color: var(--c-white);
		border-radius: 2em;
		color: var(--c-black);
		padding: 3em 6em;
		@include tab{
			padding: 24px 4%;
		}
		h4{
			text-align: center;
		}
	}
	&__lead{
		@include tab{
			font-size: 1.4rem;
		}
	}
	&__copy{
		font-size: 3.2rem;
		display: block;
		margin-top: .5em;
		@include tab{
			font-size: 2.4rem;
		}
		span{
			display: block;
			@include tab{
				display: initial;
			}
		}
	}
	&__desc{
		margin-top: 2em;
	}
	&__button{
		width: 100%;
		display: block;
		max-width: 320px;
		margin: 1em auto 0;
		box-sizing: border-box;
	}
}

/*----------------------------------------------------
    #projectArea
----------------------------------------------------*/
.home{
	#top-service,
	#article_Area{
		padding: 0 2%;
		max-width: 1240px;
		margin: 100px auto 0;
		@include tab{
			padding: 0 4%;

		}
	}
	#article_Area{
		.contents_Inner{
			margin-top: 6rem;
		}
	}
}

#blogArea{
	.blogArea_contents_Inner{
		margin-bottom: 4%;
	}
}