#mainVisual{
  padding: 100px 4% 0;
  @include lt{
    padding: 100px 0 0;
  }
  @include tab{
    padding: 60px 0 0;
  }
}

.main-visual{
  &_inner{
    max-width: 1240px;
    margin: 0 auto;
    padding: 4rem 0 6rem;
    @include lt{
      padding: 0 0 4rem;
      display: block !important;
    }
  }

  &_head{
    order: 2;
    max-width: 640px;
    width: 56%;
    flex: 1;
    background: var(--c-black-bg);
    border-radius: 16px;
    overflow: hidden;
    @include lt{
      max-width: 100%;
      border-radius: 0;
      width: 100%;
    }
    img{
      width: 100%;
    }
  }

  &_body{
    width: 40%;
    min-width: 500px;
    padding: 0 2% 0 0;
    flex: 0.6;
    order: 1;
    box-sizing: border-box;
    @include lt{
      width: 100%;
      padding: 2em 4% 0;
      min-width: 100%;
    }
    h1{
      font-size: 4rem !important;
      @include lt{
        font-size: 2.4rem !important;
      }
    }
  }

  &_desc{
    padding-top: 2.4rem;
    & > p{
      margin-top: 1.6rem;
      font-size: 1.8rem;
      &:first-child{
        margin-top: 0;
      }
    }
  }
  .cv{
    &-buttons{
      margin-top: 4rem;
      align-items: stretch;
      @include lt{
        display: block;
        max-width: 240px;
        margin: 4rem auto 0;
      }
    }
    &-button{
      padding: 16px 50px;
      @include lt{
        margin: 16px 0 0;
        height: 64px;
      }
      &:first-of-type{
        margin: 0;
      }
    }
  }

}